<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chat Service</title>
</head>

<body style="text-align: center;">
  <h1 class="chat_service">Welcome to Chatbox</h1>
  <div class="message_holder"></div>

  <form action="" method="POST">
    <input type="text" class="username" placeholder="Enter Name" />
    <input type="text" class="message" placeholder="Enter Message" />
    <input type="submit" />
  </form>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous">
  </script>
  <script type="text/javascript">

    const socket = io()

    socket.on('connect', function () {
      socket.emit('check previous messages')
    })

    var form = $('form').on('submit', function (e) {
      e.preventDefault()
      let name = $('input.username').val()
      let input = $('input.message').val()
      socket.emit('send message', {
        user_name: name,
        message: input
      })
      $('input.username').val('').focus()
      $('input.message').val('')
    })

    socket.on('new message', function (msg) {
        $('div.message_holder').append('<div><b style="color: #000">' + msg.user_name + '</b> ' + msg.message +
          '</div>')
    })

    socket.on('receive chat history', function (msg){
      for (let i=0; i<msg.length; i++) {
        $('div.message_holder').append('<div><b style="color: #000">' + msg[i][1]+ '</b> ' + msg[i][2] + '</div>')
      } 
    })
    
  </script>

</body>

</html>